body{
    margin: 0;
    padding-top: 150px;
    background: linear-gradient(90deg, #37dbde, #32cfa3, rgb(89, 219, 122));
    font-family: monospace;
}

#header{
    font-family:monospace;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    width:300px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin: 30px auto 30px auto;
    
}
/*--------------------------- API PAGE---------------------------*/
.api-form{
    background: whitesmoke;
    box-shadow:black;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    margin: auto;
    height: 200px;
    padding: 100px;
}


input {
    margin-bottom: 20px;/*Space between*/
    border-radius: 20px;
    padding: 10px;/*Space Inside*/
    width: 200px;/*Streches the input*/

}

.api-form h1{
    font-family: monospace;
}
.api-form input::placeholder{
    text-align: center;
    font-family: monospace;
}

button{
    margin-top: 10px;
    border-radius: 20px;
    font-weight: bold; 
}

button:hover{
   transform: scale(1.05);
}

/*-------------------- CONTACT BOOK LIST --------------------------------*/
.contact-table{
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px auto;
    border-collapse: collapse; /*Removes spaces between borders*/
    width: 100%;
    height: 50%;
    text-align: center;
    max-width: 600px;
    margin-top: -50px; /*the space between */
    overflow: hidden; /* Prevent overflow on corners */
}

.contact-table tr{
    border-bottom: 1px solid black;
    cursor:pointer;
    
}

.contact-table td{
    padding: 15px;
    text-align: left;
    vertical-align: middle;
     /*   border-right:1px solid black;    This is for Vertical line*/
}

.contact-table td:hover{
    transform: scale(1.05);
}




